.infos {
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  list-style-type: none;

  a {
    text-decoration: none;
  }

  .info {
    margin: 0 0.3rem;
    color: #aaa;
    padding: 0 0.5rem;

    span {
      font-size: 0.7rem;
      transition: 0.3s;

      &:hover {
        color: #e22fff;
      }
    }

    .fa-shopping-bag {
    }

    .fa-user-astronaut {
    }
  }
}
