.infos {
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  list-style-type: none;

  a {
    text-decoration: none;
  }

  .info,
  span {
    margin: 0 0.3rem;
    color: #aaa;
    padding: 0 0.2rem;
    transition: 0.3s;
    font-size: 1rem;

    &:hover {
      color: var(--primary-color);
    }

    .fa-shopping-bag {
    }

    .fa-user-astronaut {
    }
  }
}
