.header {
  width: 100%;
  background-color: var(--grey-color-light);
  border-bottom: 1px solid var(--grey-color-light);
  box-shadow: 0px 0px 6px var(--grey-color);
  z-index: 1;
  position: relative;

  &__content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    &-toggle {
      display: none;
    }

    &-nav {
      display: flex;
    }
  }
}
