.navigation {
  list-style-type: none;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: medium;
    transition: 0.3s;
    margin: 0 0.8rem;

    &:hover {
      color: #e22fff;
    }
  }
}

.nav-active {
  position: relative;

  &::after {
    content: '';
    height: 1px;
    width: 0;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    animation: anim 0.4s ease forwards;

    @-webkit-keyframes anim {
      to {
        width: 100%;
      }
    }
    @keyframes anim {
      to {
        width: 100%;
      }
    }
  }
}
